<div class="container" id="topRow">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <p>Our Collected work has a view count well over <b>55 Million and counting...</b>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <p>We specialize in inventing content for both television and the web. From concept to creation, we produce trailers, promos, web series, viral videos and commericals.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <p>The LA Times have cited us as the best moment of vital marketing ever!</p><br>
      <p><a>Click to view article</a></p>
    </div>
  </div>
</div>
<hr>
<div class="container" id="body">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
          Our Story
        </h1>
        <hr>
        <p> We are a production company that does our job well because we love making things. We believe advertising is a wonderful canvas for art. We are constantly writing and creating for clients, for friends, for our own passion projects and for the hell
          of it. The work that we engage in with our clients is the good stuff and we are lucky to be selective in the projects that we take on. Sure, we're a little weird and a little unconventional and that is precisely why you are here right now.</p>
        <hr>
        <p>Rombu is a Los Angeles based production company that takes a unique and entertaining approach to advertising. We create commercials, web series, viral marketing campaigns, trailers, promos, branded entertainment, short films, as well as black
          ops and experiential marketing.</p>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <img src="/assets/images/rombulogo3.png">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="box">
        <video width="100%" height="100%" muted loop controls>
          <source src="/assets/main/videos/ChristopherMcD4.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <p>Rombu's team is composed of makers, creators and doers. All artists in their own right, from filmmakers to sculptors to engineers to rocket scientists (seriously). Our extensive relationships with incredibly talented teammates enable us to make
        seemingly impossible ideas into awesome reality.</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <p>Rombu's creative directors, Mark Roemer and Derek Doublin have worked in concert with some of the most recognizable brands and the most talented artists in the world. Whether it be making news by creating one of the most successful viral marketing
        campaigns in internet history (Guitar Hero 5) or directing the Emmy Award Winning television show Jimmy Kimmel Live, their backgrounds in the entertainment industry form the foundation upon which Rombu creates and rides big waves.</p>
    </div>
  </div>
  <hr class="spacer">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <p>Rombu Creative works with some of the most recognizable brands and entertainment companies in the world.</p>
      <h2 id="clients">Our Clients</h2>
    </div>
    <div class="col-lg-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/disney.png">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/bacardi.png">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/body.png">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/redbull.png">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/westfield.png">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <img class="img-responsive" src="/assets/brands/hanes.png">
      </div>
    </div>
  </div>
</div>
