
<style>
  .navbar {
    opacity: 1;
  }
  .col-lg-12 { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.col-lg-12 h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.footer {
  opacity: 0;
}
.col-lg-12 a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
</style>
<div class='parallax_group' id="parallaxPage">
	<div class="container" id="enterPage">
		<div class="overlay_2">
			<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Our collected work has a view count of well over

    <video controls autoplay loop="ChristopherMcD4.mp4">
        <source src="assets/main/videos/ChristopherMcD4.mp4" type="video/mp4">
    </video>
    
    <div id="vidtop-content">
        <div class="vid-info">
            <h1>Our collected work has a view count of well over
55 million and counting...</h1>
            <p>
                Our collected work has a view count of well over 55 million and counting... We are a production company that does our job well because we love making things. We believe advertising is a wonderful canvas for art. We are constantly writing and creating for clients, for friends, for our own passion projects and for the hell of it. The work that we engage in with our clients is the good stuff and we are lucky to be selective in the projects that we take on. Sure, we're a little weird and a little unconventional and that is precisely why you are here right now.
                </p>
                <p>
                Rombu is a Los Angeles based production company that takes a unique and entertaining approach to advertising. We create commercials, web series, viral marketing campaigns, trailers, promos, branded entertainment, short films, as well as black ops and experiential marketing.
                </p>
                <p>
                Rombu's team is composed of makers, creators and doers.  All artists in their own right, from filmmakers to sculptors to engineers to rocket scientists (seriously).  Our extensive relationships with incredibly talented teammates enable us to make seemingly impossible ideas into awesome reality.  </p>
                <p>
                Rombu's creative directors, Mark Roemer and Derek Doublin have worked in concert with some of the most recognizable brands and the most talented artists in the world. Whether it be making news by creating one of the most successful viral marketing campaigns in internet history (Guitar Hero 5) or directing the Emmy Award Winning television show Jimmy Kimmel Live, their backgrounds in the entertainment industry form the foundation upon which Rombu creates and rides big waves.
                </p>

              </div>
			</div>
			<video id="bgvid" playsinline autoplay muted loop>
				<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
				<source src="/assets/main/videos/ChristopherMcD4.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>


 
        </div>
    </div>
