<div class="video-background">
    <div class="video-foreground">
      {{!-- <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe> --}}
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?rel=0&amp;controls=0&amp;showinfo=0loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>

    </div>
</div>

<main>
  <a href="#" id="circle">
    <div id="circle-flip">
      <div class="front">

      </div>
      <div class="back">
        Contact Department
      </div>
    </div>
  </a>
  <p id="name">ROMBU</p>
  <p class="info">
<div class="container" id="contact">


    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->


<!-- Text input-->

<div class="form-group">
  <label class="col-md-13 control-label">Name | Company</label>
  <div class="col-md-13 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="name_company" placeholder="Name | Company" class="form-control"  type="text">
    </div>
  </div>
</div>



<!-- Text input-->
       <div class="form-group">
  <label class="col-md-13 control-label">E-Mail</label>
    <div class="col-md-13 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>




<!-- Text input-->

<div class="form-group">
  <label class="col-md-13 control-label">Subject</label>
    <div class="col-md-13 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="Subject" placeholder="Subject" class="form-control" type="text">
    </div>
  </div>
</div>



<!-- Text area -->

<div class="form-group">
  <label class="col-md-13 control-label">Message</label>
    <div class="col-md-13 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
          <textarea class="form-control" name="comment" placeholder="Comment"></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-13 control-label"></label>
  <div class="col-md-13">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container --></p>
  <div class="button-container">
    <a class="first button" href="#">
      <div class="front">

      </div>
      <div class="bottom">
        <span>@ Rombu, we listen to EVERYONE.</span>
      </div>
    </a>
  </div>
</main>
<footer>

</footer>
