<h1>Home</h1>


{{#each video}}
{{#if this.featured}}
<ul>
	<li>{{name}}</li>
	<li>{{company}}</li>
	<li><iframe src='{{url}}' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
	<li>{{description}}</li>
</ul>
{{/if}}
{{/each}}
