<div class='parallax_group' id="parallaxPage">
	<div class="container" id="enterPage">
		<div class="overlay_2">
			<div class="row">
				<img class="img-responsive center-block" id="logo" src="/assets/images/rombuheaderimg.png">
			</div>
			<section class="cd-intro">
				<div class="cd-intro-content mask-2">
					<div class="content-wrapper">
						<div>
							<div class="action-wrapper">
								<a href="#" class="cd-btn main-action btn btn-1 btn-1c">Welcome to Rombu</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="row">
				<img class="img-responsive center-block" id="scrollLogo" src="/assets/images/scrollicon.png">
			</div>
			<video id="bgvid" playsinline autoplay muted loop>
				<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
				<source src="/assets/vid/rombu9.mp4" type="video/mp4">
				<source src="/assets/vid/rombu9.webm" type="video/webm">
				<source src="/assets/vid/rombu9.ogv" type="video/ogv">
			</video>
		</div>
	</div>
</div>
<section class="container page" id="introPage">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h1>Who are we?</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<h3 id="rev-4"><span class="firstText">Rombu</span> is a full service production company that works with
some of the most innovative brands in the world.</h3>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<h3 id="rev-5">Our collected works have garnered over 55 million views and counting.
We are a Los Angeles production company.</h3>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<div class="wrapper" id="rev-6">
				<img style="width: 70%;margin-left: 19%;margin-top: 7%;" src="/assets/images/rombulogo.png">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="wrapper" id="rev-3">
				<img class="center-block" style="width: 60%;padding-top: 20%;padding-bottom: 10%;" src="/assets/images/rombulogo2.png">
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<blockquote>
				We Are A Los Angeles Production Company. We care deeply about the quality of our work and it shows.
			</blockquote>
		</div>
	</div>
</section>
<section class="page">
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
			<h3 id="rev-9"><span id="bigText">We</span> specialize in inventing content for both television and the web. From concept to creation, we produce trailers, promos,web series, viral videos and commercials.</h3>
			<hr id="description">
			<div class="row" id="nest">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>The music video below was shot in 4 hours.
	Each frame of video was printed out onto its own sheet of paper - over 3,000 sheets in total.
	Each sheet was then meticulously photographed and laid back into sequence</h5>
					<h5>The LA TIMES cited this spot as "Best moment of VIRAL MARKETING EVER".</h5>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
			<img style="width:100%" src="/assets/images/rombulogo3.png">
		</div>
	</div>
	<div class="row" id="mediaRow">
		{{#each video}}
		{{#if this.featured}}
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<iframe src='{{url}}' webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		{{/if}}
		{{/each}}
	</div>
</section>
<!-- BOOTSTRAP -->
<script src="/assets/js/bootstrap.js"></script>
<!-- SCROLL MONITOR -->
<script src="/assets/js/scrollMonitor.js"></script>
<!-- ANIME -->
<script src="/assets/js/anime.min.js"></script>
<!-- BLOCK REVEALER OPTIONS -->
<script src="/assets/js/main.js"></script>
<script type='text/javascript'>
	$(function() {
		//************************ Example 2 - reveal on scroll ********************************

		var scrollElemToWatch_1 = document.getElementById('rev-3'),
			watcher_1 = scrollMonitor.create(scrollElemToWatch_1, -300),
			rev3 = new RevealFx(scrollElemToWatch_1, {
				revealSettings: {
					bgcolor: '#7cff52',
					direction: 'rl',
					delay: 900,
					onCover: function(contentEl, revealerEl) {
						contentEl.style.opacity = 1;
					}
				}
			}),
			rev4 = new RevealFx(document.querySelector('#rev-4'), {
				revealSettings: {
					bgcolor: '#7f40f1',
					direction: 'tb',
					delay: 250,
					onCover: function(contentEl, revealerEl) {
						contentEl.style.opacity = 1;
					}
				}
			}),
			rev5 = new RevealFx(document.querySelector('#rev-5'), {
				revealSettings: {
					bgcolor: '#7f40f1',
					delay: 500,
					onCover: function(contentEl, revealerEl) {
						contentEl.style.opacity = 1;
					}
				}
			}),
			rev6 = new RevealFx(document.querySelector('#rev-6'), {
				revealSettings: {
					bgcolor: '#7f40f1',
					delay: 750,
					direction: 'bt',
					onCover: function(contentEl, revealerEl) {
						contentEl.style.opacity = 1;
					}
				}
			}),

			//************************ Example 2 - reveal on scroll ********************************
			scrollElemToWatch_2 = document.getElementById('rev-9'),
			watcher_2 = scrollMonitor.create(scrollElemToWatch_2, -300),
			rev9 = new RevealFx(scrollElemToWatch_2, {
				revealSettings: {
					bgcolor: '#7f40f1',
					onCover: function(contentEl, revealerEl) {
						contentEl.style.opacity = 1;
					}
				}
			});

		watcher_1.enterViewport(function() {
			rev3.reveal();
			rev4.reveal();
			rev5.reveal();
			rev6.reveal();
			watcher_1.destroy();
		});


		watcher_2.enterViewport(function() {
			rev9.reveal();
			watcher_2.destroy();
		});

	}())
</script>
