body {
    background-color: lightblue;
}

img[alt = "Brand"] {
    width:20%;
    height: auto;
    padding-bottom: 2px;

}

.breadcrumb {
	position:relative;
	float:right;
	font-size: 200%;
	padding-top: 1%;
}

.jumbotron {
	background-color: white;
}