@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
body {
  background: black;
  color: white;
}

.container#topRow {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 5%;
}

hr {
  margin: 0;
}

#topRow p {
  font-size: 2vmin;
}

div#body {
  width: 100%;
  margin: 0;
}

#body h1 {
  font-size: 12vmin;
  padding: 0;
  font-weight: bold;
}

#body img {
  width: 100%;
  float: right;
}

#topRow p {
  font-size: 1.5vw;
}

div#body {
  width: 100%;
  margin: 0;
  padding: 0;
}

hr {
  margin: 0 0 29px 0;
  height: 1vmin;
  background: white;
  border: none;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2vmin;
}

video {
  border-radius: 50px;
}

p:first {
  font-size: 3vw;
}
.spacer {
  margin: 1% 0;
  background: white;
}
h2#clients {
  font-size: 5vw;
  margin-top: 20%;
}
