body {
  background: #ececec;
}
.grid-item-container {padding: 0;}
.grid-item { width: 100%; }
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
